/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 62rem; // 620px
    margin-right: auto;
    margin-left: auto;
    padding-top: 2.3rem; // 23px
    padding-right: 1rem; // 10px
    padding-left: 1rem; // 10px
}
